div {
  &.nolineno,
  &.language-cisco_ios,
  &.language-entysec {
    td:first-child {
      padding: 0 !important;
      margin-right: 0;

      .lineno {
        display: none;
      }
    }
  }
}

.language-entysec .zp {
    text-decoration: underline;
}

.language-entysec .ze {
    color: #960050;
}

.language-entysec .zg {
    color: #859900;
}

.language-entysec .zs {
    color: #268bd2;
}

.language-entysec .zi {
    font-weight: bold;
}

.language-entysec .zw {
    color: orange;
}
